/* app css stylesheet */

html, body{
  /*font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size: 14px;
  height:100%;
}


.widgetWindow{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 296px;
  height: 350px;
  border: 2px solid rgb(115, 2, 7);
}

.widgetHeader{
  width: 296px;
  height: 108px;
  background-image: url("../images/topBar.png");
  margin-bottom: 5px;
}


.footer{
	margin-top: 20px;
	width: 293px;
	height: 12px;
	background-image: url("../images/footer.png");
}
